@font-face {
    font-family: 'NanumBarunGothic';
    src: url('NanumBarunGothic.woff')format('woff');
}

@font-face {
    font-family: 'icomoon';
    src: url('icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wrench:before {
    content: "\e991";
}
.icon-play3:before {
    content: "\ea1c";
}
.icon-pause2:before {
    content: "\ea1a";
}
.icon-stop2:before {
    content: "\ea1e";
}
.icon-next2:before {
    content: "\ea24";
}

#cursor
{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

body {
    margin:0;
    padding:0;
    color: white;
    overflow: hidden;
}

input[type=range][id=music_value]::-webkit-slider-thumb {
    background-color: red;
}

#music_value {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
    padding-bottom: 10px;
    border: transparent;
}

#player {
    position: absolute;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    z-index: -99;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

#overlag {
    z-index: -98;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    min-width: 100%; 
    min-height: 100%;
}

#main {
    font-family: 'NanumBarunGothic';
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    text-shadow: 2px 5px 5px black;
    padding: 50px;
}

#main-h1 {
    font: bold;
    font-size: 40px;
}

#main-message {
    font-size: 20px;
}

#music-console {
    position: absolute;
    margin: 30px;
    text-shadow: 2px 5px 5px black;
}

#music-name {
    font-family: 'NanumBarunGothic';
    font: bold;
    font-size: 27px;
    padding: 0;
    margin: 0;
    text-shadow: 2px 5px 5px black;
}

#developer {
    font-family: 'NanumBarunGothic';
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 14pt;
    text-shadow: 2px 5px 5px black;
    opacity: 0.4;
}